@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
body{
    margin:0;
    border:0;
    padding:0;
    overflow-x: hidden;
    background-color: gray;
    display: block;
    box-sizing: border-box;
}

.header{
    margin:0;
    height:15vh;
    width:100%;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    overflow: hidden;
    position: static;
    font-size: 20px;
}
.header-logo{
    height:70%;
    width:30%;
}

.logo{
    width:300px;
    height:70px;
}

.header-ul,.header-li,.header-a,.footer_nav_link,.footer-ul,.footer-li{
   margin:0; 
   text-decoration: none;
   list-style-type: none;
   color: white;
   display: flex;
}

li{
    text-align: center;
    padding:18px 15px;
    
}
a{
    text-indent: 1px;
}
.header-a:hover,.header-li:hover{
    background-color: #38D506 ;
    color: black;
    border-radius: 10px;
}

.intro{
    width:100%;
    height:500px;
    background-image: url(../images/matrix.gif);
    opacity: 0.7;
}


.footer-t{
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left:0;
    justify-content: space-around;
    height:auto;
    align-items: center;
}

.footer-logo{
    text-align: center;
}

.footer-t h1{
    margin:0px
}

.footer-t h2{
    margin-bottom:0px;
}
.footer-t p{
    font-size: 20px;   
}

.left-box{
    text-align: justify;
}
.middle-box{
    text-align: center;
}

.right-box{
    text-align: center;
}
.footer_nav_link{
    color:white;  
}

.social-link{
    font-size:25px;
   
}

.fa-facebook:before,.fa-twitter:before,.fa-instagram:before,.fa-youtube:before{
    font-size: 25px;
    padding:15px;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-youtube:hover{
    
    color:#38D506 ;
    cursor: pointer;
    
}

.right-box input[type=text]{
    float:left;
    width:60%;
    border-radius: 10px;
    padding:5px;
    color:black;
}

.right-box input[type=button]{
    float:right;
    border-radius: 10px;
    padding:5px;
    background-color:#38D506 ;
    color:black;
    
}


.right-box input[type=button]:hover, .right-box input[type=button]:active {
 opacity: 0.8;
}


.footer-ul li{
    padding:10px;
     font-size:18px;
}

.footer-ul a:hover{
    color: #38D506;
}

.intro{
    text-align: center;
    
}

.intro h1{
    margin:0px;
    padding:0px;
    color: #38D506;
    font-size: 100px;
    position: relative;
    top:25%;
    
}

.intro h3{
    margin:0px;
    padding:0px;
    color: #ffffff;
    font-size: 35px;
    position: relative;
    top:25%;    
}

.navbar-toggle{
    display:none;
}
/*
@media(max-width: 750)
{
    .logo{
        width:50%;
        height:60%;
    }
}
*/

@media(max-width: 700px)
{   
    .logo{
       position: absolute;
        left:12px;
        top:2px;
    }

    .header{
        height: 10vh;
        background: #000000;
    }

    .header-logo{
        height:15vh;
    }
     .navbar-toggle{
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer; 
        color:white;
        font-size: 24px;
        display: block;
    }

    .header-ul{
        padding-left: 0;
        position:absolute;
        height:90vh;
        width:100%;
        top:10vh;
        right:0;
        text-align: center;
        background: black;
        align-items: center;
        font-size: 25px;
    }

    .header-ul,.header-li,.header-a,.log-but{
        display: block;
        text-align: center;
    }
    
    .navbar{
    display: none;
    }

    .active{
        display:block;
    }
    
    .intro1, .intro1 h1, .intro1 h3{
        position: relative;
        top:45vh;
        background: black;
        color: #000000;
    }
    .intro h1{
        top: auto;
    }
    .intro h3{
        top: auto;
    }
}