body{
	margin:0;
	padding: 0;
	background:gray;
	font-family: 'Yrsa', serif;  
}

h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
	border:0;
}
h1{
	color:#15D0AB;
	font-size: 100px;
	margin: 0;
}
svg{
	width:15px;
	height:15px;
}
.container{
	margin: 0;
	padding: 0;
	overflow-wrap:all; 
}
.header{
	top:0;
}
.logo img {
	width: 200px;
	height: 50px;
	position: absolute;
	border:2px solid black;

}

nav{
	width: 100%;
	height: 58px;
	background-color: black;
	overflow: auto;
	text-align: center;
}
ul{
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
	padding-left: 40px;
}
li{
	float:left;
	list-style: none;
	padding: 0 0  0 30px;

}
nav a{
	width: 100%;
	text-decoration: none;
	padding: 15px 15px;
	display: block;
	font-family: 'Yrsa', serif;
	text-align: center;
	color: #f2f2f2;
	border-spacing: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

nav a:hover{
	border-color: #79ff61;
	text-transform: uppercase;
	transition: 0.5s;
	border-spacing: 2px;
	font-family: 'Yrsa', serif;
	font-size: 20px;

}
.intro{
	width:100%;
	height: 500px;
	margin: auto;
	display: flex;
	background-position: absolute;
	background:url("../images/matrix.gif");
	opacity: 0.7;
}
.intro_text  {
	position: absolute;
	top:28%;
	left:27.55%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}
.intro_text p {
	position: absolute;
	border:0;
	top:45%;
	left:27.55%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}
/*
.artical{
	width:100%;
	height:600px;
	background:#3498DB;
}
.news{
	width:100%;
	height:600px;
	background:#D5DBDB;
}*/
.footer{
	width:100%;
	height:40px;
	background:black;
	color: white;
	position: absolute;
	bottom: 0;
}
.footer_text{
	position: absolute;
	top:30%;
	font-family: 'Yrsa', serif;  
	font-size: 20px;
}

/*for computer devices*/

@media all and (max-width:1025px)
{	

	
.intro_text  {
	position: absolute;
	top:30%;
	left:10%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}
.intro_text p {
	position: absolute;
	border:0;
	top:45%;
	left:27.55%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}

@media all and (max-width:770px)
{	

	
.intro_text  {
	position: absolute;
	top:30%;
	left:20%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}
.intro_text p {
	position: absolute;
	border:0;
	top:90%;
	left:10%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
}

}

/*for moblie devices */

@media all and (max-width: 500px)
{
	.logo img {
	width: 300px;
	height: 70px;
	position: absolute;

	}
	nav{
	width: 200%;
	height: 80px;
	background-color: black;
	overflow: auto;
	text-align: center;
	}
	.intro{
	width:800px;
	height: 500px;
	background-position: absolute;
	background:url("../images/matrix.gif");
	opacity: 0.7;
	}
	.intro_text  {
	position: absolute;
	top:30%;
	left:10%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
	}
.intro_text p {
	position: absolute;
	border:0;
	top:45%;
	left:27.55%;
	color: white;
	font-weight: bolder;
	font-size:30px;
	font-family: 'Yrsa', serif;  
	background:transparent; 
	}
}

