body{
	margin:0;
	padding: 0;

}
.container{
	margin: 0;
	padding: 0;
	overflow-wrap:all; 
}
.header{
	top:0;
}
.logo img {
	width: 200px;
	height: 50px;
	position: absolute;
	border:2px solid black;

}

nav{
	width: 100%;
	height: 58px;
	background-color: black;
	padding-left: 150px;
	overflow: auto;
	text-align: center;
}
ul{
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}
li{
	float:left;
	list-style: none;
	padding: 0 0  0 30px;

}
nav a{
	width: 100%;
	text-decoration: none;
	padding: 15px 15px;
	display: block;
	font-family: 'Yrsa', serif;
	text-align: center;
	color: #f2f2f2;
	border-spacing: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

nav a:hover{
	/*border-color: #39ff14;*/
	border-color: #79ff61;
	text-transform: uppercase;
	transition: 0.5s;
	border-spacing: 2px;
	font-family: 'Press Start 2P', cursive;

}

.logo img:hover{
	border-color: #79ff61;
	transition: 0.5s;
	border-radius: 5px;
}
.intro{
	width:100%;
	height: 1000px;
	background:url("images/matrix.gif");
	position: absolute;

}